// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #f1eecb, #0d0d11);
$fg_color: if($variant == "dark", #0d0d11, #f1eecb);
$base_color: if($variant == "dark", #f1eecb, #0d0d11);
$text_color: if($variant == "dark", #0d0d11, #f1eecb);
$button_bg_color: if($variant == "dark", #f1eecb, #9E4E4E);
$button_fg_color: if($variant == "dark", #9E4E4E, #f1eecb);
$header_button_bg_color: #B6574E;
$header_button_fg_color: #f1eecb;
$selected_bg_color: #55414C;
$selected_fg_color: #0d0d11;
$tooltip_bg_color: #0d0d11;
$tooltip_fg_color: #f1eecb;

// dark colors
$dark_bg_color: #0d0d11;
$dark_fg_color: #f1eecb;

// shadows
/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
$dark_shadow: shade($fg_color, .2);
$light_shadow: lighten($bg_color, .4);

// caret
$primary_caret_color: #f1eecb;
$secondary_caret_color: #f1eecb;
$caret_aspect_ratio: 0.04;

// white and black
//$black: #000;
//$white: #fff;
$black: shade($fg_color, .4);
$white: lighten($bg_color, .55);

//$link_color: mix($selected_bg_color, $fg_color, .3);
$link_color: #7e02c0;
$success_color: #adc955;
$warning_color: #eba353;
$error_color: #eb4b7b;

$info_fg_color: #0d0d11;
$info_bg_color: #8d4bd1;
$warning_fg_color: #0d0d11;
$warning_bg_color: $warning_color;
$question_fg_color: #0d0d11;
$question_bg_color: $info_bg_color;
$error_fg_color: #0d0d11;
$error_bg_color: $error_color;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_focused: $dark_bg_color;
$titlebar_bg_unfocused: $bg_color;
$titlebar_fg_focused: $dark_fg_color;
$titlebar_fg_unfocused: mix($fg_color, $bg_color, .4);

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_fg: $dark_fg_color;
$osd_bg: alpha($osd_base, 0.8);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;

$wm_bg_focused: $titlebar_bg_focused;
$wm_bg_unfocused: $titlebar_bg_unfocused;
$wm_border_focused: #55414C;
$wm_border_unfocused: #0d0d11;
$wm_title_focused: $titlebar_fg_focused;
$wm_title_unfocused: $titlebar_fg_unfocused;
$wm_icons_focused: $titlebar_fg_focused;
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: $titlebar_fg_unfocused;
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

// widget styles
$roundness: 0px;
$spacing: 3px;
$gradient: 0.0;

$contrast: .8;
