// scss-lint:disable ColorVariable

@import "functions";

// default color scheme
$bg_color: if($variant == "dark", #f1eecb, #0d0d11);
$fg_color: if($variant == "dark", #0d0d11, #f1eecb);
$base_color: if($variant == "dark", #f1eecb, #0d0d11);
$text_color: if($variant == "dark", #0d0d11, #f1eecb);
$button_bg_color: if($variant == "dark", #f1eecb, #9E4E4E);
$button_fg_color: if($variant == "dark", #9E4E4E, #f1eecb);
$header_button_bg_color: #B6574E;
$header_button_fg_color: #f1eecb;
$selected_bg_color: #55414C;
$selected_fg_color: #0d0d11;
$tooltip_bg_color: #0d0d11;
$tooltip_fg_color: #f1eecb;

// white and black
//$black: #000;
//$white: #fff;
$black: shade($fg_color, .4);
$white: lighten($bg_color, .55);

// dark colors
$dark_bg_color: #0d0d11;
$dark_fg_color: #f1eecb;

// shadows
/*$dark_shadow: #000;*/
/*$light_shadow: #fff;*/
$dark_shadow: shade($fg_color, .2);
$light_shadow: lighten($bg_color, .4);

/*$selected_borders_color: if($variant == 'light', darken($selected_bg_color, 30%), darken($selected_bg_color, 20%));*/
/*$borders_color: if($variant == 'light', shade($bg_color, .85), shade($bg_color, .88));*/
$selected_borders_color: if($variant == 'light', mix($selected_bg_color, $fg_color, .3), darken($selected_bg_color, 20%));
$borders_color: mix($bg_color, $fg_color, if(lightness($bg_color) < 50%, .18, .1));
$borders_edge: if($variant == 'light', transparentize($white, .2), transparentize($fg_color, .93));

// caret
$primary_caret_color: #f1eecb;
$secondary_caret_color: #f1eecb;
$caret_aspect_ratio: 0.04;

/*$button_border_strength: if(lightness($bg) > 50, 0, .1);*/
/*$button_shadow_strength: if(lightness($bg) > 50, 0, .1);*/
$button_border_strength: .16;
$button_border: alpha($button_fg_color, $button_border_strength);
$entry_border: $borders_color;

$scrollbar_bg_color: if($variant == 'light', darken($bg_color, 5%), mix($base_color, $bg_color, .4));
$scrollbar_slider_color: mix($bg_color, $fg_color, .5);
$scrollbar_slider_hover_color: mix($bg_color, $fg_color, .7);
$scrollbar_slider_active_color: if($variant == 'light', darken($selected_bg_color, 5%), lighten($selected_bg_color, 10%));

$switch_disabled_bg_color: mix($bg_color, $base_color, .5);
$switch_disabled_border_color: $bg_color;
$switch_disabled_fg_color: $bg_color;
$switch_disabled_slider_bg_color: $bg_color;
$switch_bg_color: mix($bg_color, $base_color, .3);
$switch_fg_color: $text_color;
$switch_slider_bg_color: mix($text_color, $bg_color, .5);

//$link_color: mix($selected_bg_color, $fg_color, .3);
$link_color: #7e02c0;
$success_color: #adc955;
$warning_color: #eba353;
$error_color: #eb4b7b;

$info_fg_color: #0d0d11;
$info_bg_color: #8d4bd1;
$warning_fg_color: #0d0d11;
$warning_bg_color: $warning_color;
$question_fg_color: #0d0d11;
$question_bg_color: $info_bg_color;
$error_fg_color: #0d0d11;
$error_bg_color: $error_color;

$toolbar_bg_color: $bg_color;
$toolbar_fg_color: $fg_color;

$titlebar_bg_focused: $dark_bg_color;
$titlebar_bg_unfocused: $bg_color;
$titlebar_fg_focused: $dark_fg_color;
$titlebar_fg_unfocused: mix($fg_color, $bg_color, .4);

$menu_bg_color: $dark_bg_color;
$menu_fg_color: $dark_fg_color;

$menubar_bg_color: $dark_bg_color;
$menubar_fg_color: $dark_fg_color;

$panel_bg_color: $dark_bg_color;
$panel_fg_color: $dark_fg_color;

$osd_base: $dark_bg_color;
$osd_text_color: $dark_fg_color;
$osd_bg: alpha($osd_base, .8);
$osd_fg: $osd_text_color;
$osd_insensitive_bg_color: mix($osd_fg, $osd_bg, .5);
$osd_insensitive_fg_color: mix($osd_fg, $osd_base, .6);
$osd_borders_color: shade($osd_bg, .85);

$lightdm_bg_color: $dark_bg_color;
$lightdm_fg_color: $dark_fg_color;
$lightdm_button_bg_color: $header_button_bg_color;
$lightdm_button_fg_color: $header_button_fg_color;

$wm_bg_focused: $titlebar_bg_focused;
$wm_bg_unfocused: $titlebar_bg_unfocused;
$wm_border_focused: #55414C;
$wm_border_unfocused: #0d0d11;
$wm_title_focused: $titlebar_fg_focused;
$wm_title_unfocused: $titlebar_fg_unfocused;
$wm_icons_focused: $titlebar_fg_focused;
$wm_icons_focused_prelight: $selected_bg_color;
$wm_icons_focused_pressed: shade($selected_bg_color, .8);
$wm_icons_unfocused: $titlebar_fg_unfocused;
$wm_icons_unfocused_prelight: $selected_bg_color;
$wm_icons_unfocused_pressed: shade($selected_bg_color, .8);

//insensitive state derived colors
$insensitive_fg_color: mix($fg_color, $bg_color, .5);
$insensitive_bg_color: mix($bg_color, $base_color, .6);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant == 'light', darken($base_color, .01), lighten($base_color, .01));
$backdrop_text_color: mix($backdrop_base_color, $text_color, .8);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, .5);
$backdrop_insensitive_color: if($variant == 'light', darken($backdrop_bg_color, 15%), lighten($backdrop_bg_color, 15%));
$backdrop_selected_bg_color: $selected_bg_color;
$backdrop_selected_fg_color: mix($selected_bg_color, $selected_fg_color, .66);
$backdrop_borders_color: mix($bg_color, $borders_color, .9);
$backdrop_dark_fill: mix($backdrop_bg_color, $backdrop_borders_color, .35);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, .5);

$backdrop_osd_base: $osd_base;
$backdrop_osd_bg: $osd_bg;
$backdrop_osd_fg: mix($osd_fg, $backdrop_osd_base, .5);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, .4);

$backdrop_menu_color: if($variant == 'light', $backdrop_base_color, mix($backdrop_bg_color, $backdrop_base_color, .2));

$drop_target_color: #55414C;

// widget styles
$_roundness: 0;
$_spacing: 3;
$roundness: 0px;
$spacing: 3px;
$gradient: 0.0;
$contrast: .8;
$outline_width: 1px;
$button_outline_width: 1px;
$button_outline_offset: -3px;
