@define-color foreground #abb2bf;
@define-color background #282c34;
@define-color cursor #abb2bf;

@define-color color0 #282c34;
@define-color color1 #e06c75;
@define-color color2 #98c379;
@define-color color3 #e5c07b;
@define-color color4 #61afef;
@define-color color5 #c678dd;
@define-color color6 #56b6c2;
@define-color color7 #abb2bf;
@define-color color8 #545862;
@define-color color9 #e06c75;
@define-color color10 #98c379;
@define-color color11 #e5c07b;
@define-color color12 #61afef;
@define-color color13 #c678dd;
@define-color color14 #56b6c2;
@define-color color15 #c8ccd4;
