[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/comfy/Pulpit/libreoffice-writer.desktop]
row=2
col=1

[/home/comfy/Pulpit/urxvt.desktop]
row=4
col=1

[/home/comfy/Pulpit/recenzja.odt]
row=3
col=1

[/home/comfy/Pulpit/transmission-qt.desktop]
row=5
col=0

[/home/comfy/Pulpit/virtualbox.desktop]
row=0
col=1

[/home/comfy/Pulpit/tint2conf.desktop]
row=4
col=0

[/home/comfy/Pulpit/emacs.desktop]
row=1
col=1

[F666590D6658CFCB]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/comfy]
row=3
col=0

